# Node modules
node_modules/
**/node_modules/

# Environment files
.env
backend/.env
frontend/.env

# Logs
*.log

# MacOS system files
.DS_Store

# Editor / IDE configs
.vscode/
.idea/

# Cache folders
.cache/
backend/.cache/
frontend/.cache/

# Temporary files
*.swp
*.tmp
*.bak

# coverage reports
coverage/
frontend/coverage/
backend/coverage/

# build / dist / prod artifacts
dist/
build/
